<section class="main-league">
  <h1>Choose your league</h1>
  <a routerLink="/leagues">Lala</a>
  <button (click)="onLeagueSelect()">CLICK</button>

  <div class="league__items">

    <app-league class="league__item1"
                [leagueName]="'Champions league'"
                [leagueLink]="'/leagues/champions-league'"
                [leagueLogo]="'assets/league_logo/champions_league.png'"></app-league>
    <app-league class="league__item1"></app-league>
    <app-league class="league__item1"></app-league>
    <app-league class="league__item1"></app-league>

    <!--<article class="league__item1">-->
    <!--<a routerLink="/">-->
    <!--<img src="../../assets/league_logo/europa_league.png">-->
    <!--<div class="league__item1&#45;&#45;overlay">-->
    <!--<h2>Europa League</h2>-->
    <!--</div>-->
    <!--</a>-->
    <!--</article>-->

    <!--<article class="league__item1">-->
    <!--<a routerLink="/">-->
    <!--<img src="../../assets/league_logo/la_Liga.png">-->
    <!--<div class="league__item1&#45;&#45;overlay">-->
    <!--<h2>LaLiga - Spain</h2>-->
    <!--</div>-->
    <!--</a>-->
    <!--</article>-->

    <!--<article class="league__item1">-->
    <!--<a routerLink="/">-->
    <!--<img src="../../assets/league_logo/premier_league.png">-->
    <!--<div class="league__item1&#45;&#45;overlay">-->
    <!--<h2>Premier League - England</h2>-->
    <!--</div>-->
    <!--</a>-->
    <!--</article>-->

    <div class="league__items">

      <app-league class="league__item1"></app-league>
      <app-league class="league__item1"></app-league>
      <app-league class="league__item1"></app-league>
      <app-league class="league__item1"></app-league>

      <!--<article class="league__item1">-->
      <!--<a routerLink="/">-->
      <!--<img src="../../assets/league_logo/championship.png">-->
      <!--<div class="league__item1&#45;&#45;overlay">-->
      <!--<h2>Championship - England</h2>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->

      <!--<article class="league__item1">-->
      <!--<a routerLink="/">-->
      <!--<img src="../../assets/league_logo/bundesliga.png">-->
      <!--<div class="league__item1&#45;&#45;overlay">-->
      <!--<h2>Bundesliga - Germany</h2>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->

      <!--<article class="league__item1">-->
      <!--<a routerLink="/">-->
      <!--<img src="../../assets/league_logo/serie_a.png">-->
      <!--<div class="league__item1&#45;&#45;overlay">-->
      <!--<h2>Serie A - Italy</h2>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->

      <!--<article class="league__item1">-->
      <!--<a routerLink="/">-->
      <!--<img src="../../assets/league_logo/ligue_1.png">-->
      <!--<div class="league__item1&#45;&#45;overlay">-->
      <!--<h2>Ligue 1 - France</h2>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->

    </div>
    <div class="league__items">

      <article class="league__item1">
        <a routerLink="/">
          <img src="../../assets/league_logo/liga_NOS.png">
          <div class="league__item1--overlay">
            <h2>Liga NOS - Portugal</h2>
          </div>
        </a>
      </article>

      <article class="league__item1">
        <a routerLink="/">
          <img src="../../assets/league_logo/eredivisie.png">
          <div class="league__item1--overlay">
            <h2>Eredivisie - Holand</h2>
          </div>
        </a>
      </article>

      <article class="league__item1">
        <a routerLink="/">
          <img src="../../assets/league_logo/serie_a_brazil.png">
          <div class="league__item1--overlay">
            <h2>Serie A - Brazil</h2>
          </div>
        </a>
      </article>

      <article class="league__item1">
        <a routerLink="/">
          <img src="../../assets/league_logo/superliga.png">
          <div class="league__item1--overlay">
            <h2>Superliga - Argentina</h2>
          </div>
        </a>
      </article>

    </div>

  </div>
</section>
