<header class="main-header">
  <div>
    <a routerLink="/" class="main-header__brand">
      <img src="../../../assets/logo1.png" alt="Football Stats - best statistic">
    </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a routerLink="#">Competitions</a>
      </li>
      <li class="main-nav__item">
        <a routerLink="#">Teams</a>
      </li>
    </ul>
    <!--<ul class="main-nav__items">-->
    <!--<li class="main-nav__item">Test</li>-->
    <!--</ul>-->
  </nav>
</header>
